/* reset*/

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: none;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* table */

table {
    border-collapse: collapse;
}
table th {
    font-weight: bold;
}
table td, table th {
    padding: .8rem;
    border: 1px solid #cecece;
}
table tbody tr {

}

/* images */

img {
    max-width: 100%;
    display: block;
}

/* checkbox */

.task-list-item {
    list-style: none;
}

/* main */

* {
    box-sizing: border-box;
}

pre {
    width: fit-content;
    background: #f2f2f2;
    padding: 1rem;
    border-radius: 0.5rem;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #e8e8e8;
}

main {
    width: 40rem;
    max-width: calc(100% - 2rem);
    margin: 2rem auto;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: sans-serif;
}

@media (max-width: 600px) {
    main {
        font-size: 1rem;
    }
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
    margin: 0;
}

h5 {
    font-size: 1.1em;
    margin: 0;
}

h6 {
    font-size: 1em;
    margin: 0;
}

ul {
    padding: 0 0 0 1.5rem;
    margin: 0;
}

.info ul {
    padding: 0 0 0 1.1rem;
    margin: 0;
}

ol {
    padding: 0 0 0 2.2rem;
    margin: 0;
}

ul ul, ol ul {
    margin: 0 0 0 1.5rem;
}

ul ol, ol ol {
    margin: 0 0 0 2.2rem;
}

li {

}

.quiz-list {
    margin: 0 -1rem;
    padding: 0;
}

.quiz-item {
    padding: 1rem 1rem;
    border-radius: .5rem;
    margin: .2rem 0;
    list-style: none;
}

.quiz-item:hover, button:hover {
    cursor: pointer;
    background-color: #d9e9ea;
    transition: background-color .3s;
}

.quiz-container {

}

.question {

}

.question-title {
    margin-bottom: 1rem;
    word-break: break-word;
}

.question-answer {
    margin-bottom: 3rem;
    word-break: break-word;
}

.question-answer.hidden {
    display: block;
    visibility: hidden;
}

.hidden {
    display: none;
}

.buttons {
    display: flex;
    margin: -0.5rem;
}

.buttons > * {
    margin: 0.5rem;
}


.progress {
    margin: 1rem;
}

.done {
    margin: 2rem 0;
}