/* reset*/

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* other */

* {
    box-sizing: border-box;
    font-family: monospace;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: .5rem;
}

main {
    max-width: 15rem;
    margin: 2rem auto 0;
    font-size: 1rem;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.quiz-list {

}

.quiz-item {
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin: .2rem 0;
}

.quiz-item:hover, button:hover {
    cursor: pointer;
    background-color: #d9e9ea;
    transition: background-color .3s;
}

.quiz-container {

}

.question {

}

.question-title {
    margin-bottom: 1rem;
}

.question-answer {
    margin-bottom: 3rem;
}

.question-answer.hidden {
    display: block;
    visibility: hidden;
}

.hidden {
    display: none;
}

.buttons {
    display: flex;
    margin: -0.5rem;
}

.buttons > * {
    margin: 0.5rem;
}

.done {
    margin: 2rem 0;
}