* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px #d0d0d0 solid;
    border-radius: 1rem;
}

main {
    display: flex;
    max-width: 15rem;
    font-family: monospace;
}

ul {

}

li {
    list-style: none;
}

.quiz-list {

}

-quiz-item {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.quiz-item:hover, button:hover {
    cursor: pointer;
    background-color: #d9e9ea;
    transition: background-color .3s;
}

.quiz-container {

}

.question {

}

.question-title {

}

.question-answer {

}