{:highlights [{:id #uuid "661566ac-3571-4c85-886c-5ccd64b39bdb",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 963.2265625,
                                     :x2 674,
                                     :y2 1916.453125,
                                     :width 673.9999999999999,
                                     :height 953.2285788690604},
                          :rects ({:x1 0,
                                   :y1 963.2265625,
                                   :x2 674,
                                   :y2 1916.453125,
                                   :width 673.9999999999999,
                                   :height 953.2285788690604}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "661566c7-942f-4372-8e3c-585b69efe437",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 60.9765625,
                                     :x2 674,
                                     :y2 2879.6796875,
                                     :width 673.9999999999999,
                                     :height 953.2285788690604},
                          :rects ({:x1 58.68228530883789,
                                   :y1 60.9765625,
                                   :x2 123.2890625,
                                   :y2 68.9765625,
                                   :width 673.9999999999999,
                                   :height 953.2285788690604}
                                  {:x1 135.5390625,
                                   :y1 60.9765625,
                                   :x2 151.80230712890625,
                                   :y2 68.9765625,
                                   :width 673.9999999999999,
                                   :height 953.2285788690604}
                                  {:x1 0,
                                   :y1 963.2265625,
                                   :x2 674,
                                   :y2 1916.453125,
                                   :width 673.9999999999999,
                                   :height 953.2285788690604}
                                  {:x1 0,
                                   :y1 1926.453125,
                                   :x2 674,
                                   :y2 2879.6796875,
                                   :width 673.9999999999999,
                                   :height 953.2285788690604}),
                          :page 1},
               :content {:text "esday, 12 March 2024 16:44"},
               :properties {:color "yellow"}}
              {:id #uuid "661566d2-1998-42f9-8312-e2f7b0672136",
               :page 1,
               :position {:bounding {:x1 166,
                                     :y1 160,
                                     :x2 300,
                                     :y2 213,
                                     :width 673.9999999999999,
                                     :height 953.2285788690604},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1712678609701},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
